* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

/* HEADER */
header {
    display: flex;
    background: #ffffff;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #ebeaea;
}

.myntra_logo {
    width: 58px;
}

.logo {
    margin-left: 4vw;
    padding-top: 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    min-width: 500px;
}

.nav a {
    font-size: 13px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.shiftUp {
    margin-top: -0.8px;
}

.nav a:hover {
    border-bottom: 3px solid #0DB7AF;
    margin-bottom: -32px;
}

.nav a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.searchbar {
    height: 40px;
    width: 475px;
    display: flex;
    align-items: center;
    gap: 1px;
}

.search_icon {
    box-sizing: content-box;
    background: #f5f5f6;
    height: 19px;
    width: 20px;
    padding: 10px;
    color: #696e79;
    border-radius: 4px 0 0 4px;

}

.search_area {
    color: #696e79;
    background: #f5f5f6;
    flex-grow: 1;
    height: 39px;
    border: none;
    padding-left: 10px;
    border-radius: 0 4px 4px 0;
    outline: none;
}

.actions {
    margin-right: 3.5vw;
    display: flex;
    min-width: 200px;
    justify-content: space-around;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action_container:hover {
    cursor: pointer;
}

.names {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #353535;
}

.action_container .icons {
    font-weight: 300;
    display: block;
    color: #353535;
}

/* MAIN */
.banner {
    background-image: url(./images/banner.jpg);
    width: 100vw;
    height: 375px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5.5vh 0;
}

.heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .09em;
    font-size: 1.6em;
    margin: 90px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.shop_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items {
    height: 350px;
}

/* FOOTER */

footer {
    background: #FAFBFC;
    margin-top: 15px;
}

.footer_container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 40px 0;
}
.columns {
    display: flex;
    flex-direction: column;
}

.columns a {
    color: #8d8e95;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
}

.columns h4 {
    color: #2e3141;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10vw;
}

.bottom_div {
    color: #8d8e95;
}

.contact {
    color: #526CD0;
    font-weight: 700;
    cursor: pointer;
}